<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-teacher-heading" jhiTranslate="tempApp.teacher.home.createOrEditLabel">Create or edit a Teacher</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!teacher.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="teacher.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tempApp.teacher.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="teacher.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tempApp.teacher.age" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                        [(ngModel)]="teacher.age" min="21" jhiMin="21" max="58" jhiMax="58"/>
                    <div [hidden]="!(editForm.controls.age?.dirty && editForm.controls.age?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.age?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 21 }">
                            This field should be at least 21.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.age?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 58 }">
                            This field cannot be more than 58.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.age?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tempApp.teacher.school" for="field_school">School</label>
                    <select class="form-control" id="field_school" name="school" [(ngModel)]="teacher.schoolId"  required>
                        <option *ngIf="!editForm.value.school" [ngValue]="null" selected></option>
                        <option [ngValue]="schoolOption.id" *ngFor="let schoolOption of schools; trackBy: trackSchoolById">{{schoolOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.school?.dirty && editForm.controls.school?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.school?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
